@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Professor</h2>
        <h3>Pode acessar o menu logo ali!</h3>
        <h4>Ele vai te redirecionar pro tp3</h4>
    </div>
</div>

<div>
    <p>CARLOS HENRIQUE DOS SANTOS RODRIGUES JUNIOR</p>
    <p>ENG. DE SOFTWARE</p>
</div>